 
    <form action="" (ngSubmit)="onSubmit()" class="container">
        <div class="mb-4">
            <label for="entradaWison" class="form-label" >Entrada</label>
            <textarea class="form-control" id="" name="entrada" [(ngModel)]="entrada" rows="20"></textarea>
        </div> 
        <select class="form-select" aria-label="Default select example" name="nombreAnalizador" [(ngModel)] = "nombreAnalizador">            
            <option [value]="item" *ngFor="let item of nombreAnalizadores">{{item}}</option>
        </select>
        <button type="submit" class="btn btn-primary float-right">Compilar</button>       
    </form>

